.header__message{
    width: 90%;

    display: flex;
    margin: 0 auto;    
}
.cantidad__contaner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.button__container{
    width: 350px;
    margin: 0 auto; 
}