.dashboard__container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
}

.item {
	display: flex;
	justify-content: center;
	border: solid 1px var(--border-color-app);

	border-radius: 10px;
	padding: 20px 50px;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.item:nth-child(1) {
	background-color: var(--cta-color-1);
}
.item:nth-child(2) {
	background-color: var(--cta-color-2);
}
.item:nth-child(3) {
	background-color: var(--cta-color-3);
}

.item__button {
	width: fit-content;
	background-color: #232c3d;
	color: #fff;
	padding: 10px 30px;
	border-radius: 5px;
}
.item__title {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
}
.item__text {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
}

.section__structure__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
