.appStructure__mainContent {
	width: 100%;

	min-height: calc(100vh - 80px);

	display: flex;
	flex-direction: column;

	/* background-color: var(--background-color-app); */
	background-color: #f5f5f5;
}
