.header__message{
    width: 90%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;    
}
.switch__container{
    margin: 0 auto;  
}