.container__drawer {
	width: 280px;
	min-width: 280px;
	height: calc(100vh - 80px);

	background-color: #232c3d;

	color: #fff;
	box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
	padding: 20px;

	position: sticky;
	top: 80px;
	z-index: 2;

	overflow-y: auto;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container__drawer::-webkit-scrollbar {
	-webkit-appearance: none;
}

.container__drawer::-webkit-scrollbar:vertical {
	width: 10px;
}

.container__drawer::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
	display: none;
}

.container__drawer::-webkit-scrollbar:horizontal {
	height: 10px;
}

.container__drawer::-webkit-scrollbar-thumb {
	background-color: #c5c5c5;
	border-radius: 20px;
	border: 2px solid #0e141f;
}

.container__drawer::-webkit-scrollbar-track {
	border-radius: 10px;
}

/* Nuevos estilos */
.group {
	font-weight: bold;
	padding: 10px 20px;
}

/* Estilo para la línea divisoria */
.whiteDivider {
	border-top: 1px solid #726e6e; /* Cambia el color del borde a blanco (#fff) */
	margin: 0 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
