.sectionStructure__container {
	height: fit-content;

	background-color: #fff;

	border-radius: 15px;
	border: solid 1px var(--border-color-app);

	display: flex;
	flex-direction: column;
	gap: 20px;

	padding: 20px;

	position: relative;
}
